Estatística para Ciência de Dados e Machine Learning/Bases de dados/ad.data
Estatística para Ciência de Dados e Machine Learning/Bases de dados/autos.csv
Estatística para Ciência de Dados e Machine Learning/Bases de dados/census.csv
Estatística para Ciência de Dados e Machine Learning/Bases de dados/Comandos-R.txt
Estatística para Ciência de Dados e Machine Learning/Bases de dados/credit_data.csv
Estatística para Ciência de Dados e Machine Learning/Bases de dados/csv_result-ebay_confianca_completo.csv
Estatística para Ciência de Dados e Machine Learning/Bases de dados/F+table.xlsx
Estatística para Ciência de Dados e Machine Learning/Bases de dados/house_prices.csv
Estatística para Ciência de Dados e Machine Learning/Bases de dados/resultados_rank_nemenyi.csv
Estatística para Ciência de Dados e Machine Learning/Bases de dados/T-Table.xlsx
Estatística para Ciência de Dados e Machine Learning/Bases de dados/Tabela da Qui-quadrado.pdf
Estatística para Ciência de Dados e Machine Learning/Bases de dados/trip_d1_d2.csv
Estatística para Ciência de Dados e Machine Learning/Bases de dados/Z-Table.xls
Estatística para Ciência de Dados e Machine Learning/Slides/Estati╠üstica para Cie╠éncia de Dados.pdf
Estatística para Ciência de Dados e Machine Learning/Slides/Machine Learning e Data Science O Guia para Iniciantes.pdf
Estatística para Ciência de Dados e Machine Learning/Slides/Regressa╠âo.pdf
Estatística para Ciência de Dados e Machine Learning/Slides/SMC JONES.pdf
